@import '~normalize.css';
@import 'vars';

body {
  font-family: $sans;
  font-size: 18px;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: $title;
    margin: 0.1em 0;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: #{$i * 100 / 12};
  }
}

$alignments: left center right;
@each $alignment in $alignments {
  .#{$alignment} {
    text-align: #{$alignment};
  }
}

$fonts: serif sans mono title;
@each $f in $fonts {
  .#{$f} {
    font-family: #{$f};
  }
}

.clear {
  clear: both;
}

::selection {
  background: $black;
  color: $yellow;
}
