@import 'flexboxgrid';
@import '~normalize.css';
@import '../fontawesome/scss/fontawesome.scss';
@import '../fontawesome/scss/brands.scss';
@import '../fontawesome/scss/regular.scss';
@import '../fontawesome/scss/solid.scss';
@import './mixins';
@import './vars';

:root {
  @each $name, $value in $colors {
    --color-#{$name}: #{$value};
  }
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: $sans;
  font-size: 22px;
  line-height: 1.5;
}

a {
  border-bottom: 1px solid transparent;
  color: var(--color-yellow);
  text-decoration: none;
  transition-duration: 0.4s;
  transition-property: all;

  &:hover {
    color: var(--color-black);
  }
}

.clear {
  clear: both;
}

::selection {
  background: var(--color-black);
  color: var(--color-yellow);
}

blockquote {
  border-left: 5px solid var(--color-yellow);
  margin-left: 0;
  padding-left: 1em;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
}

p {
  img,
  video {
    max-width: 100%;
  }
}

header {
  @include angle(after, false, 2deg);
  margin-bottom: 4em;
}

footer {
  @include angle(before, false, 2deg);
  margin-top: 4em;
}

.show {
  display: inherit;
}

.hide {
  display: none;
}
